.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
  grid-gap: 3vw;
  justify-content: space-between;
  margin: 3vw 0;
}

@media (max-width: 1385px) {
  .container {
    grid-template-columns: repeat(auto-fill, 185px);
    grid-gap: 40px;
  }
}

@media (max-width: 817px) {
  .container {
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 6vw;
  }
}

@media (max-width: 686px) {
  .container {
    justify-content: space-around;
    margin: 5vw 0;
  }
}

@media (max-width: 428px) {
  .container {
    grid-template-columns: repeat(auto-fill, 100px);
  }
}
